<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add driver</title>
</head>
<body>
    <h1>Add F1 driver</h1>
    <form action="/api/drivers" method="POST">
        <input type="text" placeholder="Lastname" name="lastname" id="lastname">
        <input type="text" placeholder="Firstname" name="firstname" id="firstname">
        <input type="text" placeholder="Team" name="team" id="team">
        <button type="submit">Add a F1 driver</button>
    </form>
</body>
</html>