<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Page</title>
</head>
<body>
    <h1><%= driver.lastname %>'s profile</h1>
    <p>Firstname : <%= driver.firstname %></p>
    <p>Lastname : <%= driver.lastname %></p>
    <p>Team : <%= driver.team %></p>
</body>
</html>